<p>
  <br>
  <br>
  <br>
  <%= @state %><hr></p>
  <p><b>this is the estimated total of black men and women:</b> <%= @total %><hr></p>
  <p><%= @male %><hr></p>
  <p><%= @female %><hr></p>
  <p><b>this is the total of black men and women who have diplomas:</b> <%= @maleFemale %></p>
  <p><b>this is the ratio of black's w/diplomas:</b> <%= @ratio %></p>
