<!DOCTYPE html>
<html>
<head>
  <title>Kamilah's Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-default">
    <p class="navbar-text">Kamilah's Capstone</p>
  </nav>
  <div class="container-fluid noPadding">

<%= yield %>
  <footer class="footer">
    <div class="row">
      <div class="col-md-4">
        <%= button_to() %>
        <%= button_to() %>
        <%= button_to() %>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>
